attrs==21.2.0
bleach==4.0.0
build==0.6.0.post1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
colorama==0.4.4
crypto==1.4.1
cryptography==3.4.7
docutils==0.17.1
idna==3.2
importlib-metadata==4.6.3
iniconfig==1.1.1
keyring==23.0.1
M2Crypto==0.38.0
Naked==0.1.31
packaging==21.0
pep517==0.11.0
pip-autoremove==0.9.1
pkginfo==1.7.1
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
Pygments==2.9.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.4
PyYAML==5.4.1
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.7.2
shellescape==3.8.1
six==1.16.0
toml==0.10.2
tomli==1.2.1
tqdm==4.62.0
twine==3.4.2
urllib3==1.26.6
webencodings==0.5.1
zipp==3.5.0
